/*
	@author Swapnil Gupta
	@date Jun 15, 2015 
*/

html, body { height: 100%; }

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    padding:5px; 
}

#section {
    float:left;
    padding:10px; 
}

#result {
	font-family : Courier New Courier monospace;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

.container {
   height: auto;
   overflow: hidden;
}

.left {
    width: 300px;
    float: left;  
}

.right {
    float: none; /* not needed, just for clarification */
    /* the next props are meant to keep this block independent from the other floated one */
    width: auto;
    overflow: hidden;
}

.fieldSet {
	width : 100%;
}

.leftFieldSet {
	width : 81%;
}

.rightFieldSet {
	width : 90%;
}​​