<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>SMS</display-name>
	<welcome-file-list>
        <welcome-file>pages/login.jsp</welcome-file>
    </welcome-file-list>
	<servlet>
		<servlet-name>default</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

    <!-- Context initialization parameters -->
    <!-- CMS related system config params -->
    <context-param>
	    <param-name>CMSUser</param-name>
	    <param-value>admin</param-value>
	</context-param>
    <context-param>
	    <param-name>CMSPswd</param-name>
	    <param-value>admin</param-value>
	</context-param>
	<context-param>
        <param-name>CMSAtomPubBindingURL</param-name>
        <param-value>http://localhost:8080/alfresco/api/-default-/public/cmis/versions/1.1/atom</param-value>
    </context-param>
    <context-param>
        <param-name>CMSRepoNumber</param-name>
        <param-value>0</param-value>
    </context-param>

	<!-- Other SMS system related config params -->
	<!-- File upload related limitations -->
	<context-param>
	    <description>sets maximum size of upload file (in Bytes) 52428800 = 50MB</description>
        <param-name>MaximumFileUploadSize</param-name>
        <param-value>52428800</param-value>
    </context-param>
    <context-param>
        <description>sets memory threshold - beyond which files are stored in disk (in Bytes) 5242880 = 5MB</description>
        <param-name>MaximumMemoryThreshold</param-name>
        <param-value>5242880</param-value>
    </context-param>
    <context-param>
        <description>sets maximum size of request (include file + form data) (in Bytes) 62914560 = 60MB</description>
        <param-name>MaximumRequestSize</param-name>
        <param-value>62914560</param-value>
    </context-param>

	<!-- The mapping for the default servlet -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.html</url-pattern>
		<url-pattern>*.htm</url-pattern>
		<url-pattern>*.jpg</url-pattern>
		<url-pattern>*.png</url-pattern>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>

	<error-page>
		<location>/pages/error.jsp</location>
	</error-page>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
</web-app>